/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* @import 'modern-normalize/modern-normalize.css'; */

@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0 auto;
  padding: 30px 15px;
}

.nav-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #212121;
}

.nav-list a {
  font-family: inherit;
}
